
body {
    margin-top: 6em; /*för att få ned innehållet under menytext*/
    background-color: purple;
    color: white; /*berör all text i dokumentet*/
    font-family: 'Libre+Franklin', sans-serif; /*font-family är typsnitt för all text i body*/
}


/*centrerad text i footern*/
footer {
    text-align: center;
    padding: 4em 0; /*fyra rader uppe och nere - inget i sidorna.*/
}

.centered-usp {
    color: white;
    text-align: center;
    font-size: 6vw;
    padding-bottom: auto; /*OBSOBSOBSOBS ----JAG FÅR INTE CENTRERINGEN TOP/BOTTOM RÄTT!!!!!!!!!*/
   
}

/*responsiva bilder*/
.img-fluid {
    max-width: 100%;
    width: auto;
    padding-bottom: 1em;
}

/*bild som ska täcka hela vw*/
.img-wide {
    max-width: 100%;
    width: auto;
}