/*HTML ==============================================*/

body {
    margin-top: 6em; /*för att få ned innehållet under menytext*/
    background-color: #C4B399;
    color: white; /*berör all text i dokumentet*/
    font-family: 'Libre Franklin', sans-serif;; /*font-family är typsnitt för all text i body*/
}

a {
    color: white; 
    text-decoration: none;
}
a:hover {
    color: white;
    text-decoration: underline;

     
}

/*centrerad text i footern*/
footer {
    text-align: center;
    padding: 4em 0; /*fyra rader uppe och nere - inget i sidorna.*/
}

/*CLASSES ======================================*/

 /*===================== START TOPNAV ====================*/

.topnav {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed; /*menyn följer med när man scrollar*/
    width: 100%; /*måste anges när position är "fixed" och att man vill den ska ha full sidbredd.*/
    top: 0; /*ingen topmarginal*/
    left: 0; /* ingen sidomarginal*/
}

.topnav ul {
    list-style: none;
}
 /* visa alla listelement i nav på en linje*/
 .topnav ul li {
    display: inline;
    margin-left: 0;
 }

 /*alla länkar i listelement som finns i ul i en nav ska vara vita*/
 .topnav ul li a {
     color: white;
     padding: 0.8em;
     text-decoration: none; /*länkarna ska inte vara understrukna*/
     font-weight: bold; /*istället ska länkarna vara lite fetare*/
     display: none;
 }

 /*för att få länkarna understrukna när du hovrar över dem*/
 .topnav ul li a:hover {
     background-color: plum;
     text-decoration: underline;
 }

 /*== START PÅ HAMBURGERMENYN =======================================*/
 /*vår selector är i vår ul li & benämns som first child. Första childen i listelementet är en a-länk. Påverkar även paddingen på topnav ul li a */
 .topnav ul li:first-child > a {
     display: inline-block;
 }
 
 #menu-icon {
     float:right; /*för att separera och i detta fall få elementet lägga sig till höger ( som en bild).*/
     display: block;
 }

 /* två conditions som måste vara uppfyllda för att regeln ska gälla.*/
 .topnav.dropped ul li a {
display: block;
 }

 /*när menyn är dropped ska menyiconen synas uppe till höger*/
 .topnav.dropped #menu-icon {
     position: absolute;
     right: 0;
     top: 0;
 }

 /*hamburgerikonen anpassas i storlek till övrig text på menyraden.*/
 #material-icon {
     font-size: 0.8em;
 }

 /*== SLUT PÅ HAMBURGERMENYN =======================================*/

 .active {
     background-color: purple;
 }
 /*===================== END TOPNAV & HAMBURGERMENY===================*/



/*====================== START GRID ====================*/


.grid-container {
     display:grid;
     grid-gap: 1em; 
 grid-template-areas:
 "start start start start start start"
 "sub1 sub1 sub1 sub1 sub1 sub1"
 "sub2 sub2 sub2 sub2 sub2 sub2"
 "sub3 sub3 sub3 sub3 sub3 sub3" 
 "sub4 sub4 sub4 sub4 sub4 sub4"
 "sub5 sub5 sub5 sub5 sub5 sub5" 
 "sub6 sub6 sub6 sub6 sub6 sub6";
}

 .start {
     grid-area: start;
     text-align: center;
     padding-top: 2em;
     }
     
.sub1 {
    grid-area: sub1;
    text-align: center;
    padding-top: 2em;
    padding: 2em;
    }

.sub2 {
    grid-area: sub2;
    text-align: center;
    padding-top: 2em;
    padding: 2em;
}

.sub3 {
    grid-area: sub3;
    text-align: center;
    padding-top: 0;
    }

.sub4 {
    grid-area: sub4;
    text-align: center;
    padding-top: 2em;
    padding: 2em;
    }
    
.sub5 {
    grid-area: sub5;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
    padding: 2em;
}

 footer {
    grid-area: footer;
    background-color: plum;
    color: black;
    padding-bottom: 4em;
 }

/*================= END GRID ====================*/



.wrapper {
    width: 80vw; /*80% av viewportens bredd*/
    margin: auto; /*för att centrera wrappern på viewporten;  auto - betyder vänster och höger*/
    padding-top: 1em;
}


/*USP-värden centrerade och stylade*/
.centered-usp {
    color: #020000;
    text-shadow: 0 1px silver;
    text-align: center;
    font-size: 6vw;
    padding: auto;   
}

/*responsiva bilder*/
.img-fluid {
    max-width: 100%;
    width: 90%;
    padding-bottom: 5%;
    padding-top: 5%;
    
}

/*bild som ska täcka hela vw inom wrappern*/
.img-wide {
    max-width: 100%;
    width: auto;
}


/*===OBSOBSOBS!!!!!!jag vill att texten ska ligga på bilden men ej ovanpå menyn!!=====*/
blockquote {
    color: #020000;
    font-size: 1em; /*standardradhöjd är oftast 16px*/
    font-style: italic;
    position: absolute;
    disp
}

/*för att placera citationstecken till varje blockquote på sidan*/
blockquote:before {
    content:'"';
}
blockquote:after {
    content:'"';
}



/*=========== ID ==========================*/

#startsection {
    background-color: black;
}

#section2 {
    background-color: rgb(128, 128, 38);
}
#section3 {
    background-color: maroon;
}
#section4 {
    background-color: #4E75A0;

}
#section5 {
    background-color: darkblue;
}
#section6 {
    background-color: purple;
}

/*för att definiera hur t ex kolumner ska se ut i bredd 600 px och därutöver; vad som ska visas annorlunda jämfört med hur de visas på mobilskärm!*/
@media screen and (min-width: 800px) {

    #menu-icon {
        display: none;
    }

    .topnav ul li a {
        display: inline-block /*blockegenskaper för att behålla padding o övrigt men inlineplacering*/
    }


    .grid-container {
        display:grid;
        grid-gap: 10px; 
    grid-template-areas:
        "start start start start start start"
        "sub1 sub1 sub1 sub2 sub2 sub2"    
        "sub3 sub3 sub3 sub3 sub3 sub3" 
        "sub4 sub4 sub4 sub5 sub5 sub5" 
        "sub6 sub6 sub6 sub6 sub6 sub6";

    }
     
.wrapper {
    width: 700px;
}
    
}